.themebuttoncontainer{
    position:relative;
    width:"50%";
    overflow:hidden;
}

.themebuttoncontainer img{
    width:60pt;
    height: auto;
    float: left;
    padding-top: 10pt;
    padding-left: 20pt;
}

.themebuttoncontainer .btn{
    position: absolute;
    top: 38pt;
    bottom: 10%;
    left: 20pt;
    right: 0%;
    background-color: rgba(220,170,255,0);
    outline-color: rgba(0, 0, 0, 0);
    border: 0;
    color: rgba(0,0,0,0);
    cursor: pointer;
    width: 60pt;
    height: 33pt;
}

.themebuttoncontainer .btn:hover{
    background-color: rgba(220,170,255,0.5);
}

.themebuttoncontainer header{
    color: rgb(158, 68, 255);
    font-size: larger;
    font-family: sans-serif;
    padding-left: 5pt;
    padding-top: 10pt;
}
.themebuttoncontainer h1{
    text-align: center;
    color: rgb(211, 68, 255);
    font-family: sans-serif;
}

body {
    background: rgb(80, 80, 80);
    left:0%;
    right:0%;
    bottom:0%;
    border-bottom: 0pt;
    border-left: 0pt;
    border-right: 0pt;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.MainBG{
    bottom:0%;
    left:0%;
    right:0%
}

.Root {
    bottom:0%;
    left:0%;
    right:0%;
    top:0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.Topbar {
    background: rgb(60, 60, 60);
}

nav{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

nav a {
    padding-right: 4pt;
    padding-left: 4pt;
    font-family: sans-serif;
    font-size: large;
}

nav span {
    padding-right: 4pt;
    padding-left: 4pt;
    font-family: sans-serif;
    font-size: large;
}

.Selectable {
    background-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Selectable:hover {
    background-color: rgb(80, 80, 80);
    color: rgb(211, 68, 255);
    text-decoration: solid;
}

.Current {
    background-color: rgb(63, 42, 70);
    color: rgb(255, 255, 255);
}

.MainBG {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: medium;
    margin: 10pt;
}

.MainBG .Title {
    font-size: xx-large;
    text-align: center;
}

.MainBG img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.MainBG .FluffDiv a {
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    background-color: rgb(158, 68, 255);
    color: rgb(255, 255, 255);
    padding-top: 2px;
    padding-bottom: 2px;
}

.MainBG .Title {
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    background-color: rgb(158, 68, 255);
    color: rgb(255, 255, 255);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.BiggerText {
    font-size: larger;
}

.Tarnation {
    color:rgb(68, 174, 255)
}

.Tarnation2 {
    color:rgb(211,68,255)
}

.Tarnation3 {
    color:rgb(255, 68, 68)
}

.MainBG .FluffDiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
}

.MainBG .FluffDiv {
    text-align: center;
    font-size:large;
    margin-bottom: 10px;
}

.MainBG a {
    color: rgb(211, 68, 255);
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.MainBG .Subtitle {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    background-color: rgb(68, 143, 255);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

.MainBG .Luximg {
    max-width: 40%;
    max-height: 40%;
}

.Bottom {
    background-color: rgb(60, 60, 60);
    padding-top: 10px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
}

.Bottom a {
    color:rgb(255, 255, 255)
}