:root{
	--TextColor: #ffffff;
	--BodyBG: #0e0015;
	--OuterBG: #a26bc5;
	--OtherColor: #000000;
	--ActiveColor: #acf7ff;
	--SelectionColor: #c56bbf;
	--KeywordColor: #c32c84;
	--LinkColor: #3d54ac;
}
body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: var(--TextColor);
	background-color: var(--BodyBG);
	word-break: keep-all;
	font-size: large;
	overflow-x: hidden;
	display:grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	min-height: 100svh;
}
body ::selection{
	background-color: var(--SelectionColor);
	text-decoration: underline;
}
header, footer{
	padding: 10px;
	background-color: var(--OuterBG);
}
header{
	padding-bottom: 0px;
}
footer span{
	color: var(--KeywordColor);
}
footer a{
	color: var(--LinkColor)
}
.headerwrapper{
	display: flex;
	vertical-align: middle;
	justify-content: space-around;
}
.flexblock{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-right: 10px;
	align-items: center;
}
#ThemeButton{
	border: none;
	padding: 0px;
	margin: 0px;
	transition: background-color 200ms cubic-bezier(0.77, 0, 0.175, 1);
	background-color: #ff8bf500;
}
#ThemeButton img{
	width: 80px;
	border-radius: 5px;
	transition: inherit;
}
#ThemeButton :hover{
	background-color: #ff8bf5ff;
}
nav{
	padding-top: 10px;
	display: flex;
	justify-content: space-evenly;
	overflow-x: auto;
}
nav *{
	background-color: var(--OtherColor);
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: var(--TextColor);
	font-size: large;
	transition: 500ms font-size cubic-bezier(0.77, 0, 0.175, 1);
	text-decoration: none;
}
nav *:hover{
	font-size: x-large;
}
.Current {
	background-color: var(--BodyBG);
	color: var(--ActiveColor);
}
.root{
	margin: 10px;
}
h2{
	text-align: center;
	color: var(--ActiveColor);
}
.ButtonList li{
	line-height: 25px;
	margin-bottom: 10px;
}
.ButtonList a{
	padding: 5px;
	background-color: var(--OuterBG);
	text-decoration: none;
	margin-right: 10px;
	border-radius: 10px;
	color: var(--TextColor)
}
img.Centered{
	margin-left: auto;
	margin-right: auto;
}
.Asider{
	display: grid;
	grid-template-columns: 25% auto;
}
aside{
	padding: 5px;
	margin: 5px;
	background-color: var(--OuterBG);
	border-radius: 10px;
	height: 100%;
}
@media screen and (max-width: 300px){
	body{
		font-size: large;
	}
	#Icon{
		display: block;
	}
}
@media screen and (max-width: 600px){
	body{
		font-size: medium;
	}
	#Icon{
		display: none;
	}
}